body {
  text-align: center;
  /*background-color: black;*/
}

#start-button {
  background-color: #FFC730;
  height: 90px;
  width: 300px;
  border-radius: 20px;
  border: #FFC730;
  font-size: 36px;
  font-family: Slack-Averta, appleLogo, sans-serif;
}

.abeja-logo {
  margin-top: 160px;
  height: 250px;
  width: 298px;
  border-radius: 10px;
}

#bee-game {
  border: 1px solid black;
  height: 650px;
  width: 850px;
  /*background-color: black;*/
  background-color: green;
  /*background-image: url('https://lh3.googleusercontent.com/VTLOq2cqpJ4Pe3I4blM6YUOy8wryg35gx3YMVX6GG4iP_aWHGln9hdPxNdwKMkthoY5c=h900');*/
  background-size: cover;
}
