body {
  text-align: center;
  background-color: black;
}

.abeja-logo {
  margin-top: 120px;
  height: 300px;
  width: 298px;
  border-radius: 20px;
}

#start-button {
  background-color: #FCCB37;
  height: 90px;
  width: 300px;
  border-radius: 20px;
  border: #FCCB37;
  font-size: 36px;
  font-family: Chalkduster, fantasy;
}

#bee-game {
  margin: auto;
  border: 1px solid black;
  height: 650px;
  width: 850px;
  background-image: url('https://lh3.googleusercontent.com/VTLOq2cqpJ4Pe3I4blM6YUOy8wryg35gx3YMVX6GG4iP_aWHGln9hdPxNdwKMkthoY5c=h900');
  background-size: cover;
  border-width: 3px;
}

.second {
  background-color: black;
}

.second p {
  background-color: #FFC730;
  height: 100px;
  width: 600px;
  border-radius: 20px;
  font-size: 50px;
  font-family: Chalkduster, fantasy;
  padding-top: 30px;
  padding-left: 20px;
}

.third {
  background-color: black;
  margin-top: 137px;
  margin-left: 300px;
}

.third p {
  background-color: #FFC730;
  height: 200px;
  width: 600px;
  border-radius: 20px;
  font-size: 50px;
  font-family: Chalkduster, fantasy;
  padding-top: 40px;
  padding-left: 20px;
  position: absolute;
}

#play-again {
  background-color: #FCCB37;
  height: 90px;
  width: 300px;
  border-radius: 20px;
  border: #FCCB37;
  font-size: 36px;
  font-family: Chalkduster, fantasy;
  position: absolute;
  top: 450px;
  left: 475px;
}

#restart {
  background-color: #FCCB37;
  height: 90px;
  width: 300px;
  border-radius: 20px;
  border: #FCCB37;
  font-size: 36px;
  font-family: Chalkduster, fantasy;
  margin-top: 200px;
}

.counter {
  font-family: Arial;
  font-weight: bold;
  font-size: 17px;
  border-radius: 20px;
  margin-right: 20px;
}
